.schedule{
    max-width:$content-width;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 94px;
    min-height: 776px;

    .day{
        margin-bottom: 70px;

    h1{
        font-size:60px;
        
        font-family: ProximaNovaECT;
        letter-spacing: 10px;
    }

    hr{
        width:120px;
            height:2px;
            border-width:0px;
            background-color: black;
            margin-bottom:36px;
    }

    p{
        font-size: 16px;
        font-family: GillSansUB;
    }
}
}
.read-btn{
    margin:0 auto;
    margin-bottom:100px;
    display:block;
    text-align:center;
    @include site-button();
}