.tours-hero{
    height:200px;
    max-width:$content-width;
    margin: 0 auto;
    margin-top:50px;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/promo-tour-hero.png);

    .tours-hero-text{
        font-family:ProximaNovaECT;
        color:white;
        font-size: 60px;
        text-align:center;
        padding-top:60px;
        font-weight: 200;
    }
}