.ind-tour-hero-aus{
    @include tourpackagehero('../images/asset-14@2x.png');

    .about-hero-text{

        font-size:80px;
        position:absolute;
        top:10px;
        left:10px;
        
    }

    .about-price-text{

        font-size:30px;
        
        position:absolute;
        margin-bottom: 0px;
        right:10px;
        bottom:10px;
        
        
    }
}
.tour-images{
    display: flex;
    justify-content: space-between;
    max-width: $content-width;
    min-height: 347px;
    margin: 0 auto;
    margin-top:40px;
    .aus1{
        @include tourpackageimage('../images/aus/aus-tour-01.png')
    }
    .aus2{
        @include tourpackageimage('../images/aus/aus-tour-02.png')
    }
    .aus3{
        @include tourpackageimage('../images/aus/aus-tour-03.png')
    }
}
@media screen and (max-width:1300px){
    .ind-tour-hero-aus{
        width:90%;
    }
    .tour-images{
        @include tourpackageimagesmallscreen();
    }
}