.ind-tour-hero-newzealand{
    @include tourpackagehero('../images/newzealand/tour-04.png');

    .about-hero-text{

        font-size:50px;
        position:absolute;
        top:10px;
        left:10px;
        
    }

    .about-price-text{

        font-size:20px;
        font-style: italic;
        position:absolute;
        margin-bottom: 0px;
        right:10px;
        bottom:10px;
        
        
    }
}
.tour-images{
    display: flex;
    justify-content: space-between;
    max-width: $content-width;
    min-height: 347px;
    margin: 0 auto;
    margin-top:40px;
    .nz1{
        @include tourpackageimage('../images/newzealand/nz-tour-01.png')
    }
    .nz2{
        @include tourpackageimage('../images/newzealand/nz-tour-02.png')
    }
    .nz3{
        @include tourpackageimage('../images/newzealand/nz-tour-03.png')
    }
}